.button {
  padding: 14px 25px 14px;
  font-weight: 700;
  color: $color-text;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  @extend %transition;
  &_empty {
    background: $color-light;
    border: 1px solid #D7D7D7;
    &:hover {
      background: $color-red;
      border: 1px solid $color-red;
      color: $color-light;
    }
  }
  &_black {
    padding: 9px 25px 9px;
    background: rgba(0,0,0,0.6);
    color: $color-light;
    border: 1px solid $color-main;
    @extend %transition;

    &:hover {
      background: rgba(0,0,0,1);
    }
  }
  &_red {
    padding: 20px 35px 20px;
    background: $color-red;
    color: $color-light;
    border: 1px solid $color-red;
    border-radius: 10px;
    @extend %transition;

    &:hover {
      background: #d60007;
    }
  }
  &_modal {
    padding: 10px 25px 9px;
  }
}

.arrow {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  position: absolute;
  top: 220px;
  width: 30px;
  height: 30px;
  
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background: $color-main;
    transform: rotate(45deg);
    @extend %transition;
  }
  &:before {
    transform: rotate(-45deg);
    bottom: 7px;
  }
  &:after {
    top: 7px;
  }
  &_right {
    right: 0;
  }
  &_left {
    cursor: pointer;
    left: -25px;
    transform: rotate(-180deg);
  }
  &:hover:after,
  &:hover:before {
    background: $color-red;
  }
}