$color-light: #ffffff;
$color-additional: #e8e8e8;
$color-primary: #1a1919;

$color-footing: #ebeec0;
$color-handle: #e4f5e6;

$color-footing_h: #1cdf36;
$color-handle_h: #44e95a;

$color-text: #444444;
$color-main: #111111;
$color-little: #748da2;
$color-span: #0299d3;
$color-detailed: #666666;
$color-hovered: #ff9900;

$color-red: #ff1119;
$color-blue: #2dade2;
$color-youtube: #e1f9ff;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;




