.application {
    background-image: url(../img/hall.jpg);
    background-repeat: no-repeat; 
    background-color: $color-primary;
    width: 1223px;
    height: 919px;
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

